// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */


$ipad-margin: 0 2em;

@media only screen and (min-width: 1000px) {
  header {
    nav {
      ul {
        display: block;
      }
      select {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 1000px) {

  $header-height: 155px;

  #container {
      width: 95%;
      margin: 20px auto;
      @include box-shadow();
      background: #FFF;

      header {
        margin: $ipad-margin;
        height: $header-height;
        margin-bottom: 10px;
        nav {
          ul {
            display: block;
          }
          select {
            display: none;
          }
        }
      }
      #main {
        margin: $ipad-margin;
        padding-top: 60px;
        background: #FFF url(../images/bg-thin.png) no-repeat top center;
      }
      footer {
        margin: $ipad-margin;
      }

      &.portfolio {
          section.portfolio-item {
              div.description {
                  width: 330px;
              }
          }
      }

  }
}

@media only screen and (max-width: 600px) {
  /* Style adjustments for viewports 480px and over go here */
  #container {
    width: 100%;
    margin: 0;
    background: #FFF;
    header {
      margin: $ipad-margin;
      height: auto;
      margin-bottom: 0px;
      nav {
        position: relative;
        margin-top: 30px;
        text-align: center;
        ul {
          display: none;
        }
        select {
          display: inline;
        }
      }
    }
    #main {
      margin: $ipad-margin;
      padding-top: 0px;
      background: none;
    }
    footer {
      margin: $ipad-margin;
    }

    &.portfolio {
        section.portfolio-item {
            div.description {
                width: 330px;
            }
        }
    }
  }


}




// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
  @include h5bp-media-print;
  
  $print-margin: 4em;

  #container {
    header {
      nav {
        display: none;
      }
      margin: 0 $print-margin;
      height: auto;
      margin-bottom: 10px;
      h1, h2 {
        text-align: left;
      }
    }
    #main {
      margin: 0 $print-margin;
    }
    footer {
      margin: 0 $print-margin;
    }

    &.resume {
      a[href]:after {
        content: "";
      }
      header {
        address {
            text-align: left;
        }
      }

      #main {
        ul.categories {
          h2 {
            border-bottom: 1px solid #000;
            margin-bottom: 10px;
          }
          @include clearfix;
          & > li {
            float: none;
          }
        }   
      }

      footer {
        display: none;
      }
    }
    footer {
      a[href]:after {
        content: "";
      }
    }
  }
}