@import "compass/css3";
@import "compass/utilities";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: "Perspective Sans", "Gill Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

$page-width: 960px;
$left-margin: 225px;
$right-margin: 55px;

$symbol-tint: #00998C;

$default-box-shadow-h-offset: 3px;
$default-box-shadow-v-offset: 3px;
$default-box-shadow-blur: 10px;

body {
    background-color: #F5FFFE;
}

$hover-color: desaturate(lighten($symbol-tint, 40%), 50%);

a {
    color: $symbol-tint;
    text-decoration: none;
    &:visited {
        color: darken($symbol-tint, 10%); 
        &:hover {
            color: $hover-color;
            border-bottom:1px dashed $hover-color;
        }
    }
    &:hover {
        color: $hover-color;
        border-bottom:1px dashed $hover-color;
    }
}

#container {
    width: $page-width;
    margin: 50px auto;
    min-height: 600px;
    @include box-shadow();

    background: #FFF url(../images/bg.png) no-repeat;
    header {
        position: relative;
        font-family: "Averia Libre";
        margin: 0 $right-margin 0 $left-margin;
        height: 185px;
        margin-bottom: 110px;
        nav {
            position: absolute;
            bottom: 5px;
            ul {
                clear: left;
                li {
                    float: left;
                    margin-right: 20px;
                    a {
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                    &.current a {
                        color: desaturate(lighten($symbol-tint, 20%), 50%);
                    }
                }
            }
        }
        h1, h2 {
            color: darken($symbol-tint, 5%); 
            text-align: right;
        }
        h1 {
            padding-top: 20px;
            font-size: 40px;
        }
        h2 {
            font-size: 30px;       
        }
    }
    #main {
        margin: 0 $right-margin 0 $left-margin;
        text-align: justify;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 0;
        margin-right: $right-margin;
        text-align: right;
        section#copyright {
            font-size: 50%;
            color: darken($symbol-tint, 10%);            
        }
    }

    &.resume {
        h1 {
            font-family: "Averia Libre";
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }

        ul, p {
            margin: 0;            
        }

        header {
            address {
                text-align: right;
                font-weight: bold;
            }
            span.street-address, span.tel {
                display: block;
            }
            span.note {
                font-size: 70%
            }
        }
        #main {
            span.note {
                font-size: 70%
            }

            section#objective {
                color: darken($symbol-tint, 5%); 
                font-size: 110%;
            }

            ul.positions, ul.categories, ul.specializations {
                list-style: none;
                padding-left: 0;  
            }

            p.date, ul.specializations h3
            {
                font-style: italic;
            }

            ul.achievements, ul.skills {
                list-style: disc;
                padding-left: 1.5em;
                margin-bottom: 1em;
            }

            div, section {
                margin-bottom: 1em;
            }

            section {
                $offset: 10px;
                margin-left: $offset;
                & > h1 {
                    margin-left: -$offset;
                }
            }

            ul.categories {
                h2 {
                    border-bottom: 1px solid #000;
                    margin-bottom: 10px;
                }
                @include clearfix;
                & > li {
                    float: left;
                    padding-right: 2em;
                }
            }   
        }
        footer {
            padding-bottom: 2em;
            section#formats span {
                font-size: 80%;
                font-family: Garamond, Georgia, serif;
                padding: 0.5em;
                background: #DDD;
                border: solid 1px #888;    
            }
        }
    }
    &.portfolio {
        $item-spacing: 30px;
        section.portfolio-item {
            @include clearfix;
            h1 {
                font-family: "Averia Libre";
                font-size: 30px;
                margin-bottom: 10px;
            }
            ul.screenshots {
                float: left;
                clear: left;
                list-style: none;
                margin: 0;
                padding: 0;
                margin-bottom: $item-spacing;
            }
            div.description {
                width: 340px;
                float: left;
                margin: -10px 0 $item-spacing 20px;
            }
        }
    }
}

.oldie {
    #container {
        border: solid 1px lighten(desaturate($symbol-tint, 70%), 50%);
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}